In [35]:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options

# for creating a dataframe 
import pandas as pd

In [52]:
url = "https://www.sebi.gov.in/sebiweb/other/OtherAction.do?doPmr=yes"
driver = webdriver.Chrome()
driver.get(url)
response = requests.get(url)
print(response)

<Response [200]>

In [62]:
#Creating predefined DataFrames with column names

table1 = ["Name of the Portfolio Manager",	"Registration Number",	"Date of Registration",	"Registered Address of the Portfolio Manager",	"Name of Principal Officer",	"Email ID of the Principal Officer",	"Contact Number (Direct) of the Principal Officer",	"Name of Compliance Officer",	"Email ID of the Compliance Officer",	"No. of clients as on last day of the month", "Total Assets under Management (AUM) as on last day of the month (Amount in INR crores)"]
df = pd.DataFrame(columns = table1)
# df

table2 = ["No_of_unique_PF/EPFO",	"No_of_unique_Corporates",	"No_of_unique_Non-Corporates",	"No_of_unique_Non-Residents", "No_of_unique_FPI",	"No_of_unique_Others",	"No_of_unique_total",	"AUM_PF/EPFO",	"AUM_Corporates",	"AUM_Non-Corporates", "AUM_Non-Residents",	"AUM_FPI",	"AUM_Others",	"AUM_total"]
df2 = pd.DataFrame(columns = table2)
# df2

table3 = ["Discretionary_Equity Listed",	"Discretionary_Equity Unlisted",	"Discretionary_Plain Debt Listed",	"Discretionary_Plain Debt Unlisted",	"Discretionary_Structured Debt Listed",	"Discretionary_Structured Debt Unlisted",	"Discretionary_Derivatives Equity",	"Discretionary_Derivatives Commodity",	"Discretionary_Derivatives Others",	"Discretionary_Mutual Funds",	"Discretionary_Others",	"Discretionary_Total",	"Non-Discretionary_Equity Listed",	"Non-Discretionary_Equity Unlisted",	"Non-Discretionary_Plain Debt Listed",	"Non-Discretionary_Plain Debt Unlisted",	"Non-Discretionary_Structured Debt Listed",	"Non-Discretionary_Structured Debt Unlisted",	"Non-Discretionary_Derivatives Equity",	"Non-Discretionary_Derivatives Commodity",	"Non-Discretionary_Derivatives Others",	"Non-Discretionary_Mutual Funds",	"Non-Discretionary_Others",	"Non-Discretionary_Total",	"Advisory_Total"]
df3 = pd.DataFrame(columns = table3)
# df3

table4 =  ["A_No_of_unique_PF/EPFO",	"A_No_of_unique_Corporates",	"A_No_of_unique_Non-Corporates",	"A_No_of_unique_Non-Residents",	"A_No_of_unique_FPI",	"A_No_of_unique_Others",	"A_No_of_unique_total",	"A_AUM_PF/EPFO",	"A_AUM_Corporates",	"A_AUM_Non-Corporates",	"A_AUM_Non-Residents","A_AUM_FPI",	"A_AUM_Others",	"A_AUM_total"]
df4 = pd.DataFrame(columns = table4)
# df4

table5 =  ["F_No_of_unique_PF/EPFO",	"F_No_of_unique_Corporates",	"F_No_of_unique_Non-Corporates",	"F_No_of_unique_Non-Residents",	"F_No_of_unique_FPI",	"F_No_of_unique_Others",	"F_No_of_unique_total",	"F_AUM_PF/EPFO",	"F_AUM_Corporates",	"F_AUM_Non-Corporates",	"F_AUM_Non-Residents",	"F_AUM_FPI",	"F_AUM_Others",	"F_AUM_total"]
df5 = pd.DataFrame(columns = table5)
# df5

table6 =  ["g_Equity Listed",	"g_Equity Unlisted",	"g_Plain Debt Listed",	"g_Plain Debt Unlisted",	"g_Structured Debt Listed",	"g_Structured Debt Unlisted",	"g_Derivatives Equity",	"g_Derivatives Commodity", "g_Derivatives Others",	"g_Mutual Funds",	"g_Others",	"g_Total"]
df6 = pd.DataFrame(columns = table6)
# df6

table7 =  ["h_Inflow_during_the_month",	"h_Outflow_during_the_month",	"h_Net_flow_during_the_month",	"h_Inflow_during_the_FY",	"h_Outflow_during_the_FY",	"h_Net_flow_during_the_FY"]
df7 = pd.DataFrame(columns = table7)
# df7

table8 =  ["k_No_of_clients_PF/EPFO",	"k_No_of_clients_Corporates",	"k_No_of_clients_Non-Corporates",	"k_No_of_clients_Non-Residents",	"k_No_of_clients_FPI",	"k_No_of_clients_Others",	"k_No_of_clients_total",	"k_Value_of_the_Assets_PF/EPFO",	"k_Value_of_the_Assets_Corporates",	"k_Value_of_the_Assets_Non-Corporates",	"k_Value_of_the_Assets_Non-Residents",	"k_Value_of_the_Assets_FPI",	"k_Value_of_the_Assets_Others",	"k_Value_of_the_Assets_total"]
df8 = pd.DataFrame(columns = table8)
# df8

df9 = pd.DataFrame(columns = ["table_b"])
# df9
df10 = pd.DataFrame(columns = ["table_c"])
# df10

In [63]:
result = pd.concat([df, df2, df3, df4, df5, df6, df7, df8], axis=1)
result

Empty DataFrame
Columns: [Name of the Portfolio Manager, Registration Number, Date of Registration, Registered Address of the Portfolio Manager, Name of Principal Officer, Email ID of the Principal Officer, Contact Number (Direct) of the Principal Officer, Name of Compliance Officer, Email ID of the Compliance Officer, No. of clients as on last day of the month, Total Assets under Management (AUM) as on last day of the month (Amount in INR crores), No_of_unique_PF/EPFO, No_of_unique_Corporates, No_of_unique_Non-Corporates, No_of_unique_Non-Residents, No_of_unique_FPI, No_of_unique_Others, No_of_unique_total, AUM_PF/EPFO, AUM_Corporates, AUM_Non-Corporates, AUM_Non-Residents, AUM_FPI, AUM_Others, AUM_total, Discretionary_Equity Listed, Discretionary_Equity Unlisted, Discretionary_Plain Debt Listed, Discretionary_Plain Debt Unlisted, Discretionary_Structured Debt Listed, Discretionary_Structured Debt Unlisted, Discretionary_Derivatives Equity, Discretionary_Derivatives Commodity, Discretionary_Derivatives Others, Discretionary_Mutual Funds, Discretionary_Others, Discretionary_Total, Non-Discretionary_Equity Listed, Non-Discretionary_Equity Unlisted, Non-Discretionary_Plain Debt Listed, Non-Discretionary_Plain Debt Unlisted, Non-Discretionary_Structured Debt Listed, Non-Discretionary_Structured Debt Unlisted, Non-Discretionary_Derivatives Equity, Non-Discretionary_Derivatives Commodity, Non-Discretionary_Derivatives Others, Non-Discretionary_Mutual Funds, Non-Discretionary_Others, Non-Discretionary_Total, Advisory_Total, A_No_of_unique_PF/EPFO, A_No_of_unique_Corporates, A_No_of_unique_Non-Corporates, A_No_of_unique_Non-Residents, A_No_of_unique_FPI, A_No_of_unique_Others, A_No_of_unique_total, A_AUM_PF/EPFO, A_AUM_Corporates, A_AUM_Non-Corporates, A_AUM_Non-Residents, A_AUM_FPI, A_AUM_Others, A_AUM_total, F_No_of_unique_PF/EPFO, F_No_of_unique_Corporates, F_No_of_unique_Non-Corporates, F_No_of_unique_Non-Residents, F_No_of_unique_FPI, F_No_of_unique_Others, F_No_of_unique_total, F_AUM_PF/EPFO, F_AUM_Corporates, F_AUM_Non-Corporates, F_AUM_Non-Residents, F_AUM_FPI, F_AUM_Others, F_AUM_total, g_Equity Listed, g_Equity Unlisted, g_Plain Debt Listed, g_Plain Debt Unlisted, g_Structured Debt Listed, g_Structured Debt Unlisted, g_Derivatives Equity, g_Derivatives Commodity, g_Derivatives Others, g_Mutual Funds, g_Others, g_Total, h_Inflow_during_the_month, h_Outflow_during_the_month, h_Net_flow_during_the_month, h_Inflow_during_the_FY, h_Outflow_during_the_FY, h_Net_flow_during_the_FY, k_No_of_clients_PF/EPFO, k_No_of_clients_Corporates, k_No_of_clients_Non-Corporates, k_No_of_clients_Non-Residents, ...]
Index: []

[0 rows x 110 columns]

In [64]:
# to get an idea about the number of fields present there, find out all the fields present over there

n_list = driver.find_elements(By.XPATH, '//select[@name="pmrId"]')
name_list = []
for i in n_list:
    name_list = i.text.split("\n")
len_name = len(name_list)
print(len_name) #this is the length of the fields present over there
# print(new_list[112])
# print(new_list)

#selecting year
year_ = input("Please enter a year above from 2020(Not 2020): ")
year = driver.find_element(By.NAME,"year")
yr_ele = Select(year)
yr_ele.select_by_visible_text(year_)

#selecting month
month_ = input("Enter a Month name as it is from following- January, February, March, April, May, June, July, August, September, October, November, and December: ")
month = driver.find_element(By.NAME,"month")
mn_ele = Select(month)
mn_ele.select_by_visible_text(month_)

512

Please enter a year above from 2020(Not 2020):  2024
Enter a Month name as it is from following- January, February, March, April, May, June, July, August, September, October, November, and December:  February

In [ ]:
#For loop for the number of elements in the dropdown section

for num in range(1,len_name):
    name = driver.find_element(By.NAME,"pmrId")
    name_ele = Select(name)
    name_ele.select_by_visible_text(name_list[num])

    go = driver.find_element(By.XPATH,'//div[@class="go_area go-area"]')
    # print(go.text)
    go.click()
    time.sleep(1)
    
    # Get the page source after clicking the button
    html = driver.page_source

    # Parse the HTML with BeautifulSoup
    soup = BeautifulSoup(html, 'html.parser')

    #Finding table and extract data from it 
    try:
        tab1 = soup.find_all("table")[0]
        data1 = tab1.find_all("td")
        data1_ = []
        for i in data1:
            data1_.append(i.text.strip())
        df.loc[num] = data1_
    except Exception:
        df.loc[num] = [0] * len(df.columns)
    # time.sleep(1)

    try:
        tab2 = soup.find_all("table")[1]
        data2 = tab2.find_all("td")
        data2_ = []
        for i in data2:
            data2_.append(i.text.strip())
        df2.loc[num] = data2_[1:8] + data2_[9:16]
    except Exception:
        df2.loc[num] = [0] * len(df2.columns)
    # time.sleep(1)    
    
    try:
        tab3 = soup.find_all("table")[2]
        data3 = tab3.find_all("td")
        data3_ = []
        for i in data3:
            data3_.append(i.text.strip())
        n_data3 = data3_[1:13] + data3_[14:26]
        n_data3.append(data3_[-1])
        df3.loc[num] = n_data3
    except Exception:
        df3.loc[num] = [0] * len(df3.columns)
    # time.sleep(1)
    
    try:
        tab4 = soup.find_all("table")[4]
        data4 = tab4.find_all("td")
        data4_ = []
        for i in data4:
            data4_.append(i.text.strip())
        df4.loc[num] = data4_[1:8] + data4_[9:16]
    except Exception:
        df4.loc[num] = [0] * len(df4.columns)
    # time.sleep(1)
    
    try:
        tab5 = soup.find_all("table")[9]
        data5 = tab5.find_all("td")
        data5_ = []
        for i in data5:
            data5_.append(i.text.strip())
        df5.loc[num] = data5_[1:8] + data5_[9:16]
    except Exception:
        df5.loc[num] = [0] * len(df5.columns)
    # time.sleep(1)
    
    try:
        tab6 = soup.find_all("table")[10]
        data6 = tab6.find_all("th")
        data6_ = []
        for i in data6:
            data6_.append(i.text.strip())
        df6.loc[num] = data6_[-12:]
    except Exception:
        df6.loc[num] = [0] * len(df6.columns)
    # time.sleep(1)
        
    try:
        tab7 = soup.find_all("table")[11]
        data7 = tab7.find_all("td")
        data7_ = []
        for i in data7:
            data7_.append(i.text.strip())
        df7.loc[num] = data7_[-6:]
    except Exception:
        df7.loc[num] = [0] * len(df7.columns)
    # time.sleep(1)

    try:
        tab8 = soup.find_all("table")[14]
        data8 = tab8.find_all("td")
        data8_ = []
        for i in data8:
            data8_.append(i.text.strip())
        df8.loc[num] = data8_[1:8] + data8_[9:16]
    except Exception:
        df8.loc[num] = [0] * len(df8.columns)
    time.sleep(1)

In [57]:
result = pd.concat([df, df2, df3, df4, df5, df6, df7, df8], axis=1)
result

,Name of the Portfolio Manager,Registration Number,Date of Registration,Registered Address of the Portfolio Manager,Name of Principal Officer,Email ID of the Principal Officer,Contact Number (Direct) of the Principal Officer,Name of Compliance Officer,Email ID of the Compliance Officer,No. of clients as on last day of the month,...,k_No_of_clients_FPI,k_No_of_clients_Others,k_No_of_clients_total,k_Value_of_the_Assets_PF/EPFO,k_Value_of_the_Assets_Corporates,k_Value_of_the_Assets_Non-Corporates,k_Value_of_the_Assets_Non-Residents,k_Value_of_the_Assets_FPI,k_Value_of_the_Assets_Others,k_Value_of_the_Assets_total
1,1729 Advisors LLP,INP000008464,2023-12-13,"K- 135,South City, Phase I,GURGAON,,HARYANA,IN...",Mr.Deepak Singh Thakran,Deepak@1729advisors.com,00-0-8826758135,Mr.Arjun Singh Thakran,Deepak@1729advisors.com,3,...,0,0,0,0,0,0,0,0,0,0
2,2POINT2 CAPITAL ADVISORS LLP,INP000005190,2016-06-30,"D 907, Oberoi Splendor, Opp. Majas Depot,,J.V....",Amit Mantri,,--02269402358,Bhavit Kirit Visaria,,692,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,360 ONE Asset Management Limited,INP000004565,2014-09-25,"6th Floor, IIFL Centre, Kamala City,,Senapati ...",,,,Ashutosh Naik,,6926,...,1,0,1,0,0,0,0,5162,0,5162
5,360 ONE PORTFOLIO MANAGERS LIMITED,INP000005874,2017-11-28,"IIFL Centre, Kamala City, Senapati Bapat Marg,...",Mr.Gaurav Doshi,Ashutosh.Naik@iiflw.com,91-022-39585612,Ms.Purva Mahesh Joshi,regcompliance@iiflw.com,1912,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,A C Choksi Share Brokers Private Limited,INP000004730,2015-07-07,"II ITTS HOUSE, 33 SRI SAI BABA MARG,,KALAGHODA...",,,,ASHVIN C CHOKSI,,30,...,0,0,0,0,0,0,0,0,0,0
8,A. K. Wealth Management Private Limited,INP000003674,2016-05-30,"603, 6TH FLOOR, WINDSOR, OFF CST ROAD,,KALINA,...",Aditi Mittal,,--66349300,Aditi Mittal,,54,...,0,0,0,0,0,0,0,0,0,0
9,Aarohan Holdings and Advisors Private Limited,INP000004599,2014-12-17,"8-2-120/77/A, 1ST FLOOR, ROAD NO. 2,BANJARA HI...",DILIP KUMAR JHA,,--04023546894,PRABIR KUMAR CHATTERJEE,,94,...,0,0,16,0,0.05,3.42,0.29,0,0,3.76
10,Aavishkaar Advisors Private Limited,INP000008224,2023-08-07,"Unit no 202, 203, 204, 2nd floor, Naman Centre...",Mr.Anurag Agrawal,anurag@aavishkaar.in,91-22-2261248900,Mr.Shyamkant Joshi,accountsavms@aavishkaar.in,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
#Combine all the DataFrames and save to .csv file
result = pd.concat([df, df2, df3, df4, df5, df6, df7, df8], axis=1)

result.to_excel('SEBI_Gov_Scrapped_Data.xlsx', index=False)

print("Table scraped and saved to 'scraped_table.xlsx'.")

Table scraped and saved to 'scraped_table.xlsx'.